<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>SignUp</title>
</head>
<body>
    <div class="container-form">
        <div class="form-registration">
            <form>
                <h1>Добро пожаловать!</h1>
                <h2>Создать аккаунт</h2>
                <div class="social-link">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-vk"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-telegram"></i></a>
                </div>
                <span>Или зарегистрируйтесь по почте</span>
                <input type="text" placeholder="Имя">
                <input type="phone" placeholder="Номер телефона">
                <input type="email" placeholder="Почта">
                <input type="date" placeholder="Дата рождения">
                <input type="password" placeholder="Пароль">
                <button>Зарегистрироваться</button>
                <a href="singin.php" class="signin">Уже зарегистрированы?</a>
            </form>
        </div>
    </div>
    
    </div>
</body>
</html>